.header_top{
	width: 100%;
	height: 90px;
	padding-top: 13px;
	box-sizing: border-box;
	/* background: red; */

}
.top_logo{
	margin: 0 auto;
	display: block;
}
.header_mid{
	width:100%;
	height: 50px;
	background: #462327; 
}
.header_mid1{
	width: 920px;
	height: 50px;
	/* background: pink; */
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.mid1_box1{
	width:64px;
	height: 50px;
	/* background: yellow; */
	display: flex;
	justify-content: space-around;
	cursor: pointer;
}
.mid_dian{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #ED965F;
	margin-top: 25px;
	opacity: 0;
}

.mid_w1{
	font-size: 16px;
	font-family: '微软雅黑';
	color: #ED965F;
	line-height: 55px;
	display: block;
	font-weight: 600;
}
.mid1_box1:hover .mid_dian{
	opacity: 1;

}
.mid1_box1:hover .mid_w1{
	color: #FFD7BC;
}
.mid1_box2{
	width:90px;
	height: 50px;
	cursor: pointer;
	/* background: yellow; */
	display: flex;
	justify-content: space-around;
}
.mid1_box2:hover .mid_dian{
	opacity: 1;

}
.mid1_box2:hover .mid_w1{
	color: #FFD7BC;
}
.header_bot{
	width: 100%;
	height: 201px;
	/* background: plum; */
	padding-top: 26px ;
	box-sizing: border-box;
}
.bot_box1{
	width: 1200px;
	height: 130px;
	display: block;
	margin: 0 auto;
}
.nav{
	width: 100%;
	height: 35px;
	/* background: yellow; */
	margin-bottom: 33px;
}
.nav_box{
	width:1200px;
	height: 35px;
	/* background: pink; */
	margin: 0 auto; 
}

.nav_box1{
	width: 340px;
	height: 35px;
	/* background: cyan; */
	display: flex;
	justify-content: space-between;
}
.nav_zi1{
	width: 74px;
	height: 35px;
	/* background: lime; */
	display:flex;
	justify-content: space-around; 
}
.nav_icon1{
	width: 24px;
	height: 24px;

}
.nav_w1{
	font-size: 18px;
	font-weight: 400;
	color: #666;
}
.nav_zi2{
	width: 111px;
	height: 35px;
	/* background: lime; */
	display:flex;
	justify-content: space-around; 
}
.nav_zi3{
	font-size: 18px;
	display: block;
	line-height: 23px;
	color: #666;
}

.main_img{
	width: 100%;
	height: 520px;
	background: #EEEEEE;
	background-image: url('../../image/jn-img/big1.png');
	background-position: center;
	background-repeat: no-repeat;
}
.big_box{
	width: 1000px;
	height: 1880px;
	/* background: red; */
	margin: 0 auto;
}
.title_pho{
	width: 100%;
	height: 50px;
	text-align: center;
	/* background: red; */
	margin-top: 70px;
}
.hand{
	width: 991px;
	height: 443px;
	margin: 0px auto ;
	margin-top: 83px;
}
.hand1{
	height: 269px;
	margin-top: 65px;
}
.title_pho1{
	margin-top: 62px;
}
.word{
	width: 100%;
	height: 285px;
	text-align: left;
	font-size: 14px;
	margin-top: 45px;
	line-height: 25px;
	box-sizing: border-box;
	padding: 0 3px;
	color: #666;
}
.word1{
	margin-top: 50px;
	text-align:justify;
}
.list{
	width: 998px;
	height: 45px;
	border-top: 1px solid #9BB0B9;
	border-bottom: 1px solid #9BB0B9;
	margin-top: 67px;
	box-sizing: border-box;
	padding: 0 35px;
	color: #
}
.list .left{
	float: left;
	line-height: 45px;
}
.list .left img{
	margin-right: 30px;
}
.list .right img{
	margin-left: 30px;
	
}
.list .right{
	line-height: 45px;
	float: right;
}


/* footer */
.footer{
	width: 100%;
	height: 88px;
	/* background: plum; */
}
.footer_top{
	width: 325px;
	height: 88px;
	margin: 0 auto;
	/* background: yellow; */
	padding-top: 12px;
	box-sizing: border-box;
	margin-bottom: 61px;
}
.top_img{
	width: 325px;
	height: 88px;
	display: block;


}
.footer_bot{
	width: 100%;
	height: 305px;
	background-image: url('../../image/jn-img/footer.png');
	background-size: 100% 305px;
	/* padding-top: 85px; */
	box-sizing: border-box;
	text-align: center;
}
.ding{
	margin-bottom: 30px;
}
.inner{
	width: 335px;
	height: 64px;
	/* background: yellow; */
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.inner1{
	width: 73px;
	height: 64px;
	/* background: green; */
}
.yuan{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: #fff;
	margin: 0 auto;
	text-align: center;
}
.inner1_w{
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-top: 3px;
}
.inner2{
	width: 90px;
	height: 64px;
	/* background: green; */
}
.inner3{
	width: 68px;
	height: 64px;
	/* background: green; */
}
.bottom{
	width: 770px;
	height: 24px;
	margin: 0 auto;
	/* background: yellow; */
	margin-top: 44px;
	display: flex;
	justify-content: space-between;
}
.bottom_w1{
	width: 150px;
	font-size: 16px;
	color: #fff; 
	display: block;
	/* background: red; */

	
}
.bottom_w2{
	width: 340px;
	font-size: 16px;
	color: #fff; 
	display: block;
	/* background: red; */
}
.bottom_w3{
	width: 250px;
	font-size: 16px;
	color: #fff; 
	display: block;
}
.bottom2{
	width: 657px;
	height: 36px;
	text-align: center;
	font-size: 16px;
	color: #fff; 
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}
